<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangziqing.goubige.mybatis.daoBase.FansOperation">
    <insert id="insert" parameterType="com.wangziqing.goubige.model.Fans"
            useGeneratedKeys="true" keyProperty="ID">
            insert into fans values(#{ID},#{userID},#{fansID},CURRENT_TIMESTAMP);
	</insert>
    <select id="isFans" parameterType="int" resultType="int">
            SELECT count(*)
            FROM fans
            WHERE userID=#{0} AND fansID=#{1};
    </select>
</mapper>